{% extends 'theblog/base.html' %}

{% block title %}
  {{ post.title_tag }} Blog By {{ post.author }}
{% endblock %}

{% block content%}
      <h3>
        {{ post.title }} <br>
      </h3>
      <h6>
        {{ post.category }}
      </h6>
      Posted By - {{ post.author.first_name }} {{ post.author.last_name }} <small>{{ post.post_date }} </small>
      {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            <small>
              - <a href="{% url 'update_post' post.id %}">(Edit)</a>
                <a href="{% url 'delete_post' post.id %}">(Delete)</a>
            </small>
            {% endif %}
      {% endif %}
       <br>
      <hr>
      {{ post.body|safe }}
      <br>
      <hr>
          <form class="" action="{% url 'like_post' post.id %}" method="POST">
              {% csrf_token %}
              {% if user.is_authenticated %}
              {% if liked %}
                <button type="submit" name="post_id" value ="{{ post.id }}" class="btn btn-warning btn-sm">
                    Unlike
                </button>
                {% else %}
                <button type="submit" name="post_id" value ="{{ post.id }}" class="btn btn-primary btn-sm">
                    Like
                </button>

                {% endif %}
                {% else %}
                  <small> <a href="{% url 'login' %}">Login</a> to Like </small>
                {% endif %}
                - {{ total_likes }} Likes
          </form>

      <br>
      <br>
      <a href="{% url 'home' %}" class="btn btn-sm btn-info">Back</a>

  {% endblock %}
