{% extends 'theblog/base.html' %}

{% block title %}
  {{ post.title_tag }} Blog By {{ post.author }}
{% endblock %}

{% block content%}
      <h3>
        {{ post.title }} <br>
      </h3>
      <h6>
        {{ post.category }}
      </h6>
      Posted By - {{ post.author }}<small> {{ post.post_date }} </small>
      {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            <small>
              - <a href="{% url 'update_post' post.id %}">(Edit)</a>
                <a href="{% url 'delete_post' post.id %}">(Delete)</a>
            </small>
            {% endif %}
      {% endif %}
       <br>
      <hr>
      {{ post.body|safe }}
      <br>
      <br>
      <a href="{% url 'home' %}" class="btn btn-sm btn-info">Back</a>

  {% endblock %}
