{% extends 'theblog/base.html' %}

{% block title%}
  Home
{% endblock %}

{% block content%}

<h3>Hello From home</h3>

<ul>
    {% for post in object_list %}
    <li>
      <a href="{% url 'article-detail' post.id %}"> {{ post.title }}  </a>
      <small> - <a href="{% url 'categories' post.category %}">{{ post.category }}</a> - {{ post.author }} - {{ post.post_date}}</small>
      {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
             <small>
                  - <a href="{% url 'update_post' post.id %}">(Edit)</a>
                <a href="{% url 'delete_post' post.id %}">(Delete)</a>
             </small>
          {% endif %}
       {% endif %}
        <br>
      {{ post.body|slice:":200"|safe }}<br>
    </li>
    {% endfor %}
</ul>
{% endblock %}
